@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    color: #333;
    font: 400;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav h1{
    margin-right: auto;
}

nav h1,
footer h1{
    font-family: 'Coiny', cursive;

}

header h1{
    font-size: 41px
}

h1, h2, h3, h4{
    color: black;
}

h2,h3{
    font-size: 20px;
    background-color: #fcee21;
}

h3{
    font-size: 26px;
}
h2{
    font-weight: none;
}

footer{
    background-color: #fcee21;
    height: 100px;
    padding: 10px;
}

h4{
    margin: 0;
    font-size: 51px;
    color: white;
    background-color: black;
    line-height: 100px;
    padding: 10px;
}

footer h1{
    font-size: 33px;
}

section{
    width: 45%;
}

main{
    font-size: 21px;
}

nav a,
footer a{
    margin-left: 20px;
    color: #7A7A7A;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
}

nav{
    padding: 20px;
}

nav a{
    text-transform: capitalize;
}

header h1{
    font-weight: 700;
    font-size: 41px;
}

footer,main,header,aside{
    width: 100%;
}

aside img{
    height: auto;
    width: 50%;
}

header img{
    width: 70%;
    margin-left: 30%;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
ol li{
    margin-bottom: 6%;
}

span{
    color: red;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    height: 40px;
}

input textarea{
    width: 100%;
}

form{
    margin: auto;
}

