@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body{
    background-image: url(/modulo-4/M4-desafio1-fondo.png);
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
div{
    background-image: url(/modulo-4/M4-desafio1-fondo-form.png);
    margin: auto;
    width: 50%;
    padding: 60px;
}
form{
    width: 600px;
    height: 400px;
    padding: 20px;
    background-color: white;
    margin: auto;
    text-align: center;
}
input{
    width: 500px;
    height: 50px;
    margin: 5px;
    display:block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}
.submit{
    background-color:  #15163d;
    color: white;
    width: 85%;
}
h1{
    text-align: center;
}
