@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700;900&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

div p{
    color: #0a2ff1;
    font-size: 30px;
    font-weight: 400;
}
h1{
    color: #0a2ff1;
    font-weight: 900;
    font-size: 60pt;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
}
.box{
    border-radius: 10px;
    width: 100%;
}

.box1{
    grid-row-start: 1;
    grid-row-end: 3;
}
.box4{
    grid-column-start: 2;
    grid-column-end: 4;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#parr{
    font-size: 20px;
}